.modal {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    height: fit-content;
    min-width: 200px;
    max-width: 90%;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}
