.title {
    text-align: center;
    margin-bottom: 20px;
    color: cornflowerblue;
}

.errorMessage {
    margin-top: 20px;
    color: palevioletred;
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.comments {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid lightskyblue;
}
