.post {
    cursor: pointer;
    padding: 20px;
    border: 2px dashed cadetblue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post:last-of-type {
    margin-bottom: 0;
}

.title {
    color: cornflowerblue;
    margin-bottom: 10px;
}
