.app {
    width: 90%;
    min-width: 200px;
    max-width: 600px;
    margin: 20px auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: cornflowerblue;
}

.label {
    display: block;
    margin: 10px 14px 10px 0;
}

.filters {
    width: 40%;
    margin: 20px 0;
}
